/* p {
    color: white !important;
}

h1 {
    color: white !important;
    font-family: ggg;

     

}

.green {
    transform: rotate(0deg);
    position: fixed;
    min-width: fit-content;
}
.menu--container__background {
    transform: rotate(0deg);
    width: 100vw;
    position: fixed;
    min-width: fit-content;
}
.fixir {
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: -1;
}

 */
html {
    scroll-behavior: smooth;
}


.menu--container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

/* styles.css */

.container {
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;

}

/* Стиль для содержимого внутри контейнера */
.container p {
    margin-bottom: 10px;
}

.menu--container__background {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}


.menu--right__image {
    z-index: -1;
    left: 0;
    top: 0;
    width: 50vw;
    height: 90vh;
}

.menu--header__image {
    z-index: -1;
    left: 0;
    top: 0;
    width: 8vh;
    height: 8vh;
}

.green3 {
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 400vh;
}


 .menu--right {
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .menu--header {
    width: 30%;
    background-image: linear-gradient(#375101, #9AC53E);
 }

 .menu--header__buttons {
    margin-top: 15vh;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.menu--header__button {
    color: white;
    font-size: 65px;
    background-color: darkgreen; 
    width: 100%;
    font-family: ggg;
}

.menu--header__button2 {
    color: black;
    font-size: 50px;
    background-color: white; 
    opacity: 80%;
    width: 100%;
    font-family: ggg;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.menu--header__button3 {
    color: black;
    font-size: 30px;
    background-color: white; 
    opacity: 80%;
    width: 100%;
    font-family: ggg;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.menu--header__icon {
    position: absolute;
    transform: translate(0, -120%);
    color: white;
    font-size: 40px;
    width: 100%;
    font-family: ggg;
}

.menu--right__title {
    color: white;
    font-size: 100px;
    font-family: ggg;
}

.menu--right__title2 {
    color: black;
    font-size: 100px;
    font-family: ggg;
}

.menu--right__title3 {
    color: white;
    font-size: 100px;
    font-family: ggg;
    text-align: center;
}

.menu--right__font {
    color: white;
    font-size: 50px;
    font-family: ggg;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.close{
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    color: #34547A;
    float: right;
    cursor: pointer;
}

