/* p {
    color: white !important;
}

h1 {
    color: white !important;
    font-family: ggg;

    

}

.green {
    transform: rotate(0deg);
    position: fixed;
    min-width: fit-content;
}
.green1 {
    transform: rotate(0deg);
    width: 100vw;
    position: fixed;
    min-width: fit-content;
}
.fixir {
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: -1;
}

 */

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.menu-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

/* styles.css */

.container {
    height: 100vh;
    width: 130%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* Стиль для содержимого внутри контейнера */
.container p {
    margin-bottom: 10px;
}

.green1 {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}


.green2 {
    z-index: -1;
    left: 0;
    top: 0;
    width: 50vw;
    height: 90vh;
}

.glaz {
    z-index: -1;
    left: 0;
    top: 0;
    width: 4vw;
    height: 6vh;
}

.green3 {
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 400vh;
}

 .main-right {
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .menu-right {
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .main-left {
    width: 30%;
    background-image: linear-gradient(#375101, #9AC53E);
 }

 .menu-left {
    width: 30%;
    background-image: linear-gradient(#375101, #9AC53E);
 }

 .main-header {
    width: 30%;
    background-image: linear-gradient(#375101, #9AC53E);
 }

 .menu-header {
    width: 30%;
    background-image: linear-gradient(#375101, #9AC53E);
 }

 .littlefont-container {
    margin-top: 10vh;
    height: 80vh;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.littlefont {
    color: white;
    font-size: 65px;
    background-color: darkgreen; 
    width: 100%;
    font-family: ggg;
}

.littlefont2 {
    color: black;
    font-size: 50px;
    background-color: white; 
    opacity: 80%;
    width: 100%;
    font-family: ggg;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.littlefont3 {
    color: black;
    font-size: 30px;
    background-color: white; 
    opacity: 80%;
    width: 100%;
    font-family: ggg;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.nazad {
    color: white;
    font-size: 40px;
    width: 100%;
    font-family: ggg;
}

.bigfont {
    color: white;
    font-size: 100px;
    font-family: ggg;
}

.bigfont2 {
    color: black;
    font-size: 100px;
    font-family: ggg;
}

.bigfont3 {
    color: white;
    font-size: 100px;
    font-family: ggg;
    text-align: center;
}

.mediumfont {
    color: white;
    font-size: 50px;
    font-family: ggg;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.close{
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    color: #34547A;
    float: right;
    cursor: pointer;
}

